<section class="search-area search" style="background-color: #0ce8e2;height: 100px">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form>
          <div class="search-box"style="margin-top: 30px" >
            <input #searchInput type="search" class="search" placeholder="Search a product...">
            <button class="btn-transparent" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
