<section class="features" style="background-color:#0ce8e2;color: black;height:100px;padding-top: 50px ">
  <div class="container">
    <div class="row">
      <div class="feature-item col-lg-3 col-md-6">
        <i class="fa fa-fire" aria-hidden="true"></i>6150
      </div>
      <div class="feature-item col-lg-3 col-md-6">
        <i class="fa fa-hashtag" aria-hidden="true"></i>Final Project
      </div>
      <div class="feature-item col-lg-3 col-md-6">
        <i class="fa fa-window-maximize" aria-hidden="true"></i>Team: PQYN
      </div>
      <div class="feature-item col-lg-3 col-md-6">
        <i class="fa fa-leaf" aria-hidden="true"></i>Go Huskies!
      </div>
    </div>
  </div>
</section>
<footer style="background-color: #91561b">

  <p>Made with <i class="fa fa-coffee" aria-hidden="true"></i> Pei Yu, Qingchun Xia, Yuan sun, Nansheng Tu<i class="fa fa-music" aria-hidden="true"></i> by Team PQYN  &copy; All rights reserved.</p>

</footer>
