//variables
$timer: .3s;
//--heights
$height1: 73px;
$height2: 134px;
//--colors
$red: #dd3333;
$dred: #bb2d2d;
$black: #292b2c;
$grey: #eaeaea;
$mgrey: #9e9e9e;
$dgrey: #8c8c8c;
$white: #fff;
$yellow:#ffc107;
$blue:#5d81a3;
//--font
$font2: 'Montserrat',
sans-serif;
//font-family: 'Montserrat', sans-serif;
* {
  outline: none!important;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

//btns
.btn-transparent {
  background-color: transparent;
  border: none;
}

.base {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.to-right {
  @extend .base;
  justify-content: flex-end;
}

.justify-content {
  @extend .base;
  justify-content: space-between;
}

.line {
  border-bottom: 1px solid $grey;
}

.logo {
  cursor: pointer;
}

.btn-regular {
  background-color: #2196F3;
  text-transform: uppercase;
  color: $white;
  cursor: pointer;
  transition: $timer;
  .fa {
    margin-left: 3px;
    transform: translateX(0);
    transition: $timer;
  }
  &:hover {
    background-color: #1f88dc;
    .fa {
      transform: translateX(3px);
    }
  }
}
