<header class="fixed">
  <div class="container">
    <div class="row">
      <div class="col-md-10">  <!--全改 -->
        <div class="logo">
          <img src="./assets/images/logo.png" alt="">
        </div>
      </div>
      <div class="col-md-1">
        <div class="user">
          <i routerLink="/" class="fa fa-user-circle fa-3x" aria-hidden="true" ></i>
        </div>
      </div>
      <div class="col-md-1" routerLink="/cart">
        <div class="cart" >
          <i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</header>

